.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #3498db;
    color: #fff;
    
}
*{
    margin: 0;
}

.logo a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar li {
    margin-right: 1rem;
}

.navbar li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.navbar li a:hover {
    text-decoration: underline;
}
